* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(19, 19, 19);
    color: rgb(255, 255, 255);
}

.container {
    display: flex;
    justify-content: center;
}